.footer-container {
  background: #000000;
}

.degradent-content {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(253, 191, 54, 0) 0.01%,
    rgba(253, 191, 54, 0.8) 99.99%
  );
}

.separator {
  background-color: #000000;
  height: 50px;
}

.txt-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  color: #fdbf36;
}

.logo-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.txt-contactanos {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}

.txt-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
  margin: 0;
}

.underline {
  text-decoration: underline;
}

.container-logo-footer {
  width: 30%;
  display: flex;
  align-items: center;
}

.container-contactanos-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-contactanos-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.container-descarga-footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 15%;
}

.container-social-footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 17%;
}

.icon-foo i {
  font-size: 40px;
  color: #ffffff;
  margin-right: 15px;
}

.container-info-footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}
